
  <%= paginate @events %>
  <%= stylesheet_link_tag    "default", :media => "all" %>
  <%= stylesheet_link_tag    "fonts", :media => "all" %>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
			<span><%= image_tag("exchange.png") %></span>
			<h1><a href="#">Exchange For Good</a></h1>
			<span>Let your goods more valuable</br></span>
			<span>Let the world more beautiful</br></span> </div>
		


	</div>
<ul>
<% @events.each do |c| %>
    <div id="products">
    <br>
    <%= link_to "#{c.title}", :action => 'show', :id => "#{c.id}" %></br>
    <%= link_to( image_tag(c.pic.url(:medium)), :action => 'show', :id => "#{c.id}")%></br>
</div>
	
<% end%>
</ul>
