<div align="center">
<%= image_tag("exchange.png") %>
</div></br>
<%= form_for @event , :url => { :controller => 'homepage', :action => 'create' } do |f| %>

<% if @event.errors.any? %>
      <ul>
      <% @event.errors.full_messages.each do |msg| %>
      <li style="color: red"><%= msg %></li>
      <% end %>
      </ul>
<% end %>

<div align="center">
<fieldset>
<legend><h2>Product Information</h2></legend>


</br><b><%= f.label 'Product name :' %></b>
<%= f.text_field :title %> </br></br>


<b> <%= f.label 'Category :' %>
<div align="center">
<%= f.select :cate, [['Clothes','1'],['Shoes','2'],['3C','3'],['Accessory','4'],['Toy','5'],['Furniture','6'],['Sport','7']] %>
</div>
</br>

<b><%= f.label 'Product Condition :' %>
<div align="center">
<%= f.select :condition, [['new','1'],['pre-owned','2']] %>
</div>
</br>


<p>
<b> <%= f.label 'Upload picture :' %> </b>
<%= f.file_field :pic %></b><br/>
</p>


<b> <%= f.label 'Discription :' %></b> 
<div align="center">
 <%= f.text_area :discription, size: "5x5" %> </br></br>
</div>
</fieldset>



<fieldset>
<div align="center"><legend><h2>How To Get It</h2></legend></div>
</br><b><%= f.label 'Activity name :' %></b>
<%= f.text_field :atitle %> </br></br>

</br><b><%= f.label 'Date :' %></b>
<%= f.text_field :date %> </br></br>

</br><b><%= f.label 'Time :' %></b>
<%= f.text_field :time %> </br></br>

</br><b><%= f.label 'Address :' %></b>
<%= f.text_field :address %> </br></br>

</br><b><%= f.label 'Phone :' %></b>
<%= f.text_field :phone %> </br></br>

<b> <%= f.label 'Detail :' %></b> 
<div align="center">
 <%= f.text_area :adescription, size: "5x5" %> </br></br>
</div>
</fieldset>
</div>
<div align="center"> <input type="reset" > <%= f.submit "Submit" %></br> </div>

<%= f.hidden_field :user_id, :value=>current_user.id %>


<% end %>



