<div align= "center" >
<fieldset>
<div align= "center" ><legend><h2>Result</h2></legend></div>




<% if @event.pass == nil %>
<%= image_tag("wait.png") %>
<% end %>

<%if @event.pass == "yes" %>
<%= image_tag("thank.png") %></br>
<otitle><label> Feedback :</label></otitle></br>
<feedback><%= @event.ownerfeedback %></feedback></br></br>


<p><%= link_to image_tag("tryanotherone.png"), :controller => 'homepage' ,:action => 'index' %></p></br>
<% end %>

<% if @event.pass == "no" %>
<otitle>I'm Sorry, You can do better.</otitle></br>
<otitle><label> Feedback :</otitle></label></br>
<feedback><%= @event.ownerfeedback %></feedback></br></br>


<%= image_tag("tryanotherone.png") %>
<%= link_to 'Try Another one', :controller => 'homepage' ,:action => 'index' %></br>

<% end %>


</fieldset>
</div>


